*{
    box-sizing: border-box;
}
#player-board {
    display: flex;
    flex-wrap: wrap;
  background-color: rgb(141, 141, 240);
  width: 500px;
  height: 500px;
}
#computer-board {
    display: flex;
    flex-wrap: wrap;
  background-color: rgb(201, 227, 161);
  width: 500px;
  height: 500px;
}

.square {
  border: 1px solid blue;
  width: 50px;
  height: 50px;
}

.ship{
    background-color: rgb(48, 48, 207);
}

.hit{
    background-color: red;
}
